@use 'layout.scss' as *;
@use 'colors.scss' as *;

.img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.sub {
  @include text($color: $taupe, $weight: 600);
}

.item {
  @include text($weight: 700);
}

.title {
  @include text($size: 17px, $color: $persian);
}

.icon {
  @include icon($color: $persian);
}
