@use 'layout.scss' as *;
@use 'colors.scss' as *;

:host {
  width: 100%;
}

.orders-container {
  @include flex-container($gap: 1.5rem, $align: center, $width: 100%, $justify: space-around);
  flex-wrap: wrap;
}

.button {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid $dim;
  transition: .2s ease;
  color: $dim;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    color: $white;
    background-color: $persian;
    border-color: $persian;
  }
}

.button.active {
  color: $white;
  background-color: $persian;
  border-color: $persian;
}

.no-orders {
  @include text($color: $taupe, $size: 17px);
}
