<div class="content-body border-type1">
  <div style="margin-bottom: 1.5rem;">
    <h3 class="title">Información personal</h3>
    <p class="sub">Actualiza tu información de perfil</p>
  </div>
  <form 
    class="form" 
    [formGroup]="profileForm" 
    (submit)="onSubmit()"
    [ngStyle]="{'justify-content': isGettingClient ? 'center' : 'flex-start', 'align-items': isGettingClient ? 'center' : 'flex-start'}"
  >
    @if(isGettingClient) {
      <spinner 
        size="md"
      />
    } @else {
      <div class="flex-row" style="gap: 1rem;">
        <img 
          [src]="imagePreview || userImage"
          alt="user-avatar"
          class="avatar"
        />
        <app-button
          fontSize="font-xl"
          theme="secondary"
          type="button"
          (onClick)="openFilePicker()"
          [isDisabled]="isLoading"
        >
          Cambiar foto
        </app-button>
      </div>
      <section class="input-section">
        <app-select
          formControlName="documentType"
          id="documentType"
          label="Tipo documento"
          [options]="[{id: 'DNI', content: 'DNI'}, {id: 'RUC', content: 'RUC'}]"
          [error]="errorMessage(profileForm, 'documentType', {})"
        />
        <custom-input
          formControlName="document"
          id="document"
          [isDisabled]="!documentType"
          [placeholder]="'Ingresa tu ' + (documentType ? documentType : 'documento')"
          [label]="documentType ? documentType : 'Documento'"
          [error]="errorMessage(profileForm, 'document', {minlength: documentType === 'DNI' ? 8 : 11, maxlength: documentType === 'DNI' ? 8 : 11 })"
        />
      </section>
      <section class="input-section">
        <custom-input
          formControlName="rsocial"
          id="rsocial"
          label="Razón social"
          [isDisabled]="isDocLoaded || !documentType"
          placeholder="ej. Jhon Doe"
          [error]="errorMessage(profileForm, 'rsocial', {})"
        />
        <custom-input
          formControlName="phone"
          id="phone"
          label="Teléfono"
          placeholder="ej. 987654321"
          [error]="errorMessage(profileForm, 'phone', {minlength: 9, maxlength: 9})"
        />
      </section>
      <app-button
        type="submit"
        [isDisabled]="profileForm.invalid || isLoading"
        [isLoading]="isLoading"
        style="margin-top: 1rem;"
      >
        @if(isLoading) {
          Actualizando...
        } @else {
          Guardar cambios
        }
      </app-button>
    }
  </form>
</div>
