<div 
  class="container"
  [ngStyle]="{
    'background-color': currentColor.backgroundColor,
    color: currentColor.color
  }"
  (click)="handleClick()"
>
  <div 
    class="flex-row"
    style="gap: 1rem;"
  >
    <mat-icon
      [ngStyle]="{
        color: currentColor.color
      }"
    >
      {{ currentColor.icon }}
    </mat-icon>
    <div 
      class="flex-column"
      style="gap: 0.2rem;"
    >
      <h6 class="title">{{ notification.message }}</h6>
      <p class="text">Recibido el {{ notification.createdAt | date: "dd 'de' MMMM 'de' yyyy h:mm a" }}</p>
    </div>
  </div>
  <div 
    class="flex-row"
    style="gap: 0.2rem;"
  >
    <mat-icon class="icon">
      @if(notification.isRead) {
        check
      }@else {
        schedule
      }
    </mat-icon>
    <p class="text-icon">
      @if(notification.isRead) {
        Leida
      }@else {
        Sin leer
      }
    </p>
  </div>
  @if(!notification.isRead) {
    <div class="point" 
      [ngStyle]="{
        'background-color': currentColor.color
      }"
    ></div>
  }
</div>
