.container {
  width: 100%;
  padding: 1rem 0.5rem;
  border: 1px solid black;
}

.filter {
  width: 28%;
  border: 1px solid blue;
  padding: 1rem;
}

.products {
  width: 70%;
  border: 1px solid red;
  padding: 1rem;
}
