@use 'layout.scss' as *;
@use 'colors.scss' as *;

.products-content {
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.price-filter {
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
}

.filter-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: $persian;
}

.filter-text {
  @include text($weight: 600);
}
