<div class="container flex-row">
  <section class="flex-column filter" [ngStyle]="{'top': _dataService.isInfoNavbarVisible ? '160px' : '130px'}">
    <div>
      <h4 class="category">CATEGORÍAS</h4>
      <hr class="line" />
    </div>
    <section class="flex-row categories-section">
      @if(isCategoriesLoading) {
        <spinner size="sm" />
      } @else {
        <category-item 
          [currentCategory]="currentCategory"
          [id]="0"
          name="Todo"
          [subCategories]="0"
          (onClick)="updateFilters({categoryName: undefined})"
        />
        @for (category of _dataService.categories(); track $index) {
          <category-item 
            [currentCategory]="currentCategory"
            [id]="category.id"
            [name]="category.name"
            [subCategories]="category.subcategories"
            (onClick)="updateFilters({categoryName: category.name})"
          />
        }
      }
    </section>
    <div>
      <h4 class="category">PRECIO</h4>
      <hr class="line" />
    </div>
    <form [formGroup]="form" class="form">
      <section class="price-filter flex-row">
        <custom-input 
          id="minPrice"
          placeholder="s/. 0.0"
          label="Mínimo"
          formControlName="minPrice"
        />
        <custom-input 
          id="maxPrice"
          placeholder="s/. 5000.0"
          label="Máximo"
          formControlName="maxPrice"
        />
      </section>
      <app-button 
        fontSize="font-st"
        theme="secondary"
        (onClick)="updatePriceFilter()"
        [isDisabled]="!form.valid"
      >
        Filtrar
      </app-button>
    </form>
  </section>
  <div class="products flex-column">
    <div class="flex-row" style="width: 100%; justify-content: space-between;">
      <p-paginator 
        
        [rows]="_dataService.products().size"
        [totalRecords]="_dataService.products().totalElements"
      />
    </div>
    <section class="products-content flex-row">
      @if(isLoading) {
        <spinner size="md" />
      } @else {
        @for (product of this._dataService.products().content; track $index) {
          <product-card 
            [product]="product"
          />
        }
      }
    </section>
  </div>
</div>
