@use 'layout.scss' as *;
@use 'colors.scss' as *;

.container {
  width: 100%;
  min-height: 50vh;
  padding: 1rem 0.5rem;
  align-items: flex-start;
}

.filter {
  width: 20%;
  padding: 1rem;
  position: sticky;
}

.products {
  width: 78%;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category {
  @include text($weight: 800);
}

.line {
  border: 2px solid $persian;
  width: 40%;
}

.categories-section {
  width: 100%;
  gap: 1rem;
}
