@use 'layout.scss' as *;
@use 'colors.scss' as *;

.container {
  width: 95vw;
  gap: 2rem;
  margin: 1rem 0 0 0;
}

.card {
  width: 260px;
  height: 250px;
  border: 1px solid $taupe;
  margin: 1rem;
  border-radius: 1rem;
  @include flex-container($direction: column, $gap: 0, $justify: flex-start, $align: flex-start);
  overflow: hidden;
}

.img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.card-section {
  padding: 0.5rem;
}

.title {
  @include text($size: 18px, $weight: 700);
}

.description {
  margin: 0.25rem 0;
  @include text($size: 15px, $color: $taupe, $hover_color: $taupe, $weight: 400);
  line-height: 15px;
}
