<div class="content-body border-type1">
  <div style="margin-bottom: 1.5rem;">
    <h3 class="title">Actualiza tu contraseña</h3>
    <p class="sub">Debes ingresar tu contraseña actual para validar tu identidad</p>
  </div>
  <form
    class="form"
    [formGroup]="updatePasswordForm"
    (submit)="onSubmit()"
  >
    <section 
      class="input-section"
      style="max-width: 50%"
    >
      <custom-input 
        formControlName="currentPassword"
        id="currentPassword"
        placeholder="Ingresa tu contraseña actual"
        label="Contraseña actual"
        type="password"
        [error]="errorMessage(updatePasswordForm, 'currentPassword', {minlength: 6})"
      />
    </section>
    <section class="input-section">
      <custom-input 
        formControlName="newPassword"
        id="newPassword"
        placeholder="Ingresa la nueva contraseña"
        label="Nueva contraseña"
        type="password"
        [error]="errorMessage(updatePasswordForm, 'newPassword', {minlength: 6})"
      />
      <custom-input 
        formControlName="confirmPassword"
        id="confirmPassword"
        placeholder="Vuelve a escribir la contraseña"
        label="Confirmar contraseña"
        type="password"
        [error]="errorMessage(updatePasswordForm, 'confirmPassword', {minlength: 6})"
      />
    </section>
    <app-button
      type="submit"
      [isDisabled]="updatePasswordForm.invalid || isLoading"
      style="margin-top: 1rem;"
      [isLoading]="isLoading"
    >
      @if(isLoading) {
        Actualizando...
      }@else {
        Actualizar contraseña
      }
    </app-button>
  </form>
</div>
