<div class="main">
	<section [ngStyle]="{'width': action === 'register' ? '40%' : '350px'}" class="container" >
		@if(action === "code") {
			<h2 class="title">Ingresa tu código de verificación</h2>
			<section>
				<ngx-otp-input
					#codeInput
					[options]="otpOptions"
					(otpComplete)="validateCode($event.toUpperCase())"
					[disabled]="isValidatingCode"
				></ngx-otp-input>
				@if (!codeIsCorrect && try > 0) {
					<p class="text">
						* El código es incorrecto
					</p>
				}
			</section>
			<app-button
				fontSize="font-xl"
				icon="forward_to_inbox"
				[isDisabled]="try === 0"
				[isLoading]="isValidatingCode || isResending"
				(onClick)="resendCode()"
			>
				@if (isValidatingCode) {
					Validando...
				}@else {
					@if(isResending) {
						Reenviando código...
					}@else {
						Reenviar código
					}
				}
			</app-button>
		}@else {
			<form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
				<h4 class="form-title">Completa tu registro</h4>
				<section class="input-section">
					<app-select
						formControlName="invoicePreference"
						id="invoicePreference"
						label="Preferencia de comprobante"
						[options]="[{id: 1, content: 'BOLETA'}, {id: 2, content: 'FACTURA'}]"
						[error]="errorMessage(registerForm, 'invoicePreference', {})"
					/>
					<app-select
						formControlName="documentType"
						id="documentType"
						label="Tipo documento"
						[options]="[{id: 1, content: 'DNI'}, {id: 2, content: 'RUC'}]"
						[error]="errorMessage(registerForm, 'documentType', {})"
						[isDisabled]="!invoicePreference || disableDocumentType"
					/>
				</section>
				<section class="input-section">
					<custom-input
						formControlName="document"
						id="document"
						[isDisabled]="!documentType"
						[placeholder]="'Ingresa tu ' + (documentType ? documentType : 'documento')"
						[label]="documentType ? documentType : 'Documento'"
						[error]="errorMessage(registerForm, 'document', {minlength: documentType === 'DNI' ? 8 : 11 })"
					/>
					<custom-input
						formControlName="rsocial"
						id="rsocial"
						label="Razón social"
						[isDisabled]="isDocLoaded || !documentType"
						placeholder="ej. Jhon Doe"
						[error]="errorMessage(registerForm, 'rsocial', {})"
					/>
				</section>
				<section class="input-section">
					<custom-input
						formControlName="password"
						id="password"
						label="Contraseña"
						placeholder="*********"
						type="password"
						[error]="errorMessage(registerForm, 'password', {minlength: 6})"
					/>
					<custom-input
						formControlName="confirmPassword"
						id="confirmPassword"
						label="Confirmar contraseña"
						placeholder="*********"
						type="password"
						[error]="errorMessage(registerForm, 'confirmPassword', {})"
					/>
				</section>
				<app-button
					style="margin-top: 1rem;"
					[fullSize]="true"
					[isLoading]="isCreating"
					[isDisabled]="registerForm.invalid || isCreating"
				>
					Registrarme
				</app-button>
			</form>
		}
	</section>
</div>
