<app-banner-info
  title="Conoce nuestra historia"
  text="Somos Inversiones Araujo J.L"
/>
<div class="container">
  <section 
    class="flex-row"
    style="width: 100%; justify-content: space-between;"
  >
    <div 
      class="flex-column"
      style="gap: 0.2rem; max-width: 55%;"
    >
    <h2 class="title">Sobre <span class="persian">nosotros</span></h2>
    <p class="text">
      INVERSIONES ARAUJO JL E.I.R.L. nace en abril del 2015 cuando dos ingenieros agrónomos con amplia experiencia en el rubro agrícola, deciden formar una empresa dedicada a la producción de semillas pre básica (plántulas in vitro y tuberculillos), consolidándose como una empresa emergente con gran capacidad para llevar a cabo los proyectos de sus clientes. 
    </p>
    <p 
      class="text"
      style="margin-top: 0.5rem;"
    >
      A la fecha, la empresa ha realizado importantes entregas a productores de semilla a nivel de invernaderos y a entidades públicas, así mismo, se viene participando en las actividades de investigación con el Instituto Nacional de Innovación Agraria (INIA E.E. Santa Ana Huancayo).
    </p>
    </div>
    <img 
      src="/about.png"
      alt="inversiones-araujo"
      class="image"
    />
  </section>
  <section 
    class="flex-row"
    style="width: 100%; justify-content: space-around; align-items: flex-start;"
  >
    <div 
      class="flex-column"
      style="gap: 0.2rem; max-width: 360px; align-items: center;"
    >
      <h3 class="title">Misión</h3>
      <p class="text">
        Disponer plántulas IN VITRO de primera calidad y que satisfagan completamente los requerimientos de nuestros clientes, estableciendo relaciones de largo plazo basadas en nuestras capacidades, nuestra honestidad y nuestro compromiso.
      </p>
    </div>
    <div 
      class="flex-column"
      style="gap: 0.2rem; max-width: 360px; align-items: center;"
    >
      <h3 class="title">Visión</h3>
      <p class="text">
        Posicionarnos en el mercado nacional como una empresa confiable, comprometida, responsable en la dotación de plántulas IN VITRO.
      </p>
    </div>
  </section>
  <section
    class="flex-column"
    style="width: 100%; gap: 1rem;"
  >
    <h2 class="title">Valores</h2>
    <div 
      class="flex-row"
      style="width: 100%; justify-content: space-around; align-items: flex-start;"
    >
      <app-card
        icon="handshake"
        title="Compromiso"
        description="Inversiones Araujo se encuentra firmemente comprometida con la preservación del medio ambiente y la promoción de la sostenibilidad en nuestro entorno. Nos dedicamos a la generación de empleo con un enfoque en mantener altos estándares de servicio, honestidad, esfuerzo y responsabilidad."
      />
      <app-card
        icon="wb_incandescent"
        title="Innovación"
        description="Nos caracterizamos por ofrecer productos innovadores y de la más alta calidad en el sector agrícola y la agroindustria, que satisfacen las necesidades de nuestros clientes. "
      />
      <app-card
        icon="flag"
        title="Honestidad"
        description="Actuar con transparencia logrando ganar una mayor confianza con nuestros cliente y colaboradores, es un valor que nos caracteriza en todo lo que hacemos."
      />
    </div>
  </section>
</div>
