<section class="container">
  <img 
    src="/logo.png"
    class="image"
  />
  <form [formGroup]="form">
    <custom-input
      formControlName="search"
      id="search"
      placeholder="Busca un producto..."
      icon="search"
    />
  </form>
  <div class="section">
    <section class="section cursor-pointer" style="gap: 0.3rem" (mouseenter)="profile.toggle($event)">
      <p class="text" [ngClass]="{'active': isProfOpen}">Hola, <br /> <span style="font-weight: 700;">Iniciar sesión</span></p>
      <mat-icon class="icon" [ngClass]="{'active': isProfOpen}">person</mat-icon>
    </section>
    <hr class="vertical" />
    <mat-icon class="icon">shopping_cart</mat-icon>
  </div>
</section>
<p-overlayPanel #profile (onShow)="isProfOpen = true" (onHide)="isProfOpen = false">
  <div class="flex-column">
    @if(_authService.isLoggedIn()) {
      <menu-item 
        name="Mis compras"
      />
      <menu-item name="Cerrar sesión" />
    }@else {
      <menu-item 
        name="Iniciar sesión"
        (onClick)="handleProf('login')"
      />
      <menu-item 
        name="Registrarme"
        (onClick)="handleProf('register')"
      />
    }
  </div>
</p-overlayPanel>
