<section class="container">
  <img
    (click)="router.navigate(['/'])"
    src="/logo.png"
    class="image"
  />
  <form [formGroup]="form">
    <custom-input
      formControlName="search"
      id="search"
      placeholder="Busca un producto..."
      icon="search"
    />
  </form>
  <div class="section">
    <div class="relative">
      <section class="section cursor-pointer" style="gap: 0.3rem" (mouseenter)="openProfileMenu(profile.show)">
        <p class="text" [ngClass]="{'active': isProfOpen}">
          Hola,
          <br /> 
          <span style="font-weight: 700;">
            @if (_authService.isLoggedIn()) {
              {{userFirstName.toLowerCase() | titlecase}}
            }@else {
              Iniciar sesión
            }
          </span>
        </p>
        <div class="user-section">
          <mat-icon class="icon" [ngClass]="{'active': isProfOpen}">person</mat-icon>
          @if(_authService.isLoggedIn() && _notificationService.notifications$.value.length > 0) {
            <span class="notification-indicator">{{_notificationService.notifications$.value.length}}</span>
          }
        </div>
      </section>
      <app-menu #profile (onHide)="isProfOpen = false">
        <div class="flex-column">
          @if(_authService.isLoggedIn()) {
            <menu-item
              (onClick)="router.navigate(['/perfil'])"
            >
              Mi cuenta
            </menu-item>
            <menu-item
              [isNotification]="true"
              [notificationsCount]="_notificationService.notifications$.value.length"
              (onClick)="router.navigate(['/perfil'], {queryParams: {tab: 'notificaciones'}})"
            >
              Notificaciones
            </menu-item>
            <menu-item
              (onClick)="_authService.logout()"
            >
              Cerrar sesión
            </menu-item>
          }@else {
            <menu-item 
              (onClick)="handleProfileClick('login', profile.hide)"
            >
              Iniciar sesión
            </menu-item>
            <menu-item 
              (onClick)="handleProfileClick('register', profile.hide)"
            >
              Registrarme
            </menu-item>
          }
        </div>
      </app-menu>
    </div>
    <hr class="vertical" />
    <div class="relative">
      <mat-icon 
        class="icon" 
        [ngClass]="{'active': isCartOpen || router.url.includes('carrito')}"
        (mouseenter)="openCartMenu(cart.show)"
      >
        shopping_cart
      </mat-icon>
      <span 
        class="cart-items"
        [ngClass]="{'cart-items-active': isCartOpen || router.url.includes('carrito')}"
      >
        {{_cartService.items$.value.length}}
      </span>
      <app-menu #cart (onHide)="isCartOpen = false" position="right">
        <div class="flex-column main">
          @if(_cartService.items$.value.length <= 0) {
            <div class="flex-column" style="margin-bottom: 2rem; width: 100%; align-items: center;">
              <mat-icon class="bag-icon">
                shopping_bag
              </mat-icon>
              <p class="text-subtitle">No hay productos en el carrito</p>
            </div>
            <app-button
              (onClick)="closeCartMenu({redirectTo: '/tienda', handler: cart.hide, params: {}})"
            >
              Ir a la tienda
            </app-button>
          } @else {
            <div class="cart-content flex-column">
              @for (product of _cartService.items$.value; track $index) {
                <div class="flex-column" style="width: 100%;">
                  <div class="flex-row" style="width: 100%; justify-content: space-between;">
                    <img 
                      [alt]="product.name"
                      [src]="product.mainImg"
                      class="product-img"
                    />
                    <section class="flex-column">
                      <p class="product-name">{{product.name}}</p>
                      <p class="product-price">{{product.quantity}} x S/. {{product.discountPrice ?? product.price}}</p>
                    </section>
                  </div>
                  <hr style="width: 100%" />
                </div>
              }
            </div>
            <div class="flex-row" style="width: 100%; justify-content: space-between;">
              <p class="product-name">Total: </p>
              <p class="product-price">S/. {{cartTotal.toFixed(2)}}</p>
            </div>
            <div class="flex-column" style="gap: 0.5rem; width: 100%;">
              <app-button
                [fullSize]="true"
                theme="secondary"
                (onClick)="closeCartMenu({redirectTo: '/carrito', handler: cart.hide, params: {}})"
              >
                Ver carrito
              </app-button>
              <app-button
                [fullSize]="true"
                (onClick)="closeCartMenu({redirectTo: '/carrito', handler: cart.hide, params: {tab: 'checkout'}})"
              >
                Finalizar compra
              </app-button>
            </div>
          }
        </div>
      </app-menu>
    </div>
  </div>
</section>
