<footer class="container">
  <section class="main flex-row">
    <img 
      class="logo"
      alt="logo-inversiones-araujo"
      src="logo.png"
    />
    <div class="flex-column">
      <h5 class="title">Navegación</h5>
      <div>
        <p class="text link">Inicio</p>
        <p class="text link">Tienda</p>
        <p class="text link">Invitro</p>
        <p class="text link">Contáctanos</p>
        <p class="text link">Nosotros</p>
      </div>
    </div>
    <div class="flex-column">
      <h5 class="title">Servicios</h5>
      <div>
        <p class="link text">Asesorías</p>
        <p class="link text">Capacitaciones</p>
        <p class="link text">Plántulas invitro</p>
        <p class="link text">Productos agrícolas</p>
      </div>
    </div>
    <div class="flex-column">
      <h5 class="title">Redes</h5>
      <div class="flex-column" style="gap: 0">
        <div class="flex-row">
          <ng-icon class="platinium" name="bootstrapFacebook" />
          <p class="link text">Facebook</p>
        </div>
        <div class="flex-row">
          <ng-icon class="platinium" name="bootstrapInstagram" />
          <p class="link text">Instagram</p>
        </div>
        <div class="flex-row">
          <ng-icon class="platinium" name="bootstrapWhatsapp" />
          <p class="link text">WhatsApp</p>
        </div>
        <div class="flex-row">
          <ng-icon class="platinium" name="bootstrapTiktok" />
          <p class="link text">TikTok</p>
        </div>
      </div>
    </div>
  </section>
  <section class="info">
    <p>© Inversiones Araujo. Todos los derechos reservados 2025</p>
  </section>
</footer>
