@use 'reset.scss';
@use 'layout.scss' as *;

.font-sm {
  font-size: 12px;
}

.font-md {
  font-size: 14px;
}

.font-xl {
  font-size: 16px;
}

.font-xxl {
  font-size: 18px;
}

.form {
  @include flex-container($direction: column);
  border: 1px solid black;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-column {
  @include flex-container($direction: column, $gap: 0.75rem);
}
