<div class="container">
  <info />
  <main-section />
  <nav class="navigation">
    <h3 
      class="item"
      [ngClass]="{'active': isActive('/')}"
    >
      inicio
    </h3>
    <div 
      class="flex-row item"
      style="gap: 0.25rem"
      (mouseenter)="menu.toggle($event)"
      [ngClass]="{'active': isActive('/tienda') || isMenuOpen}"
    >
      <h3 
        class="item"
      >
        tienda
      </h3>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <h3 
      class="item"
      [ngClass]="{'active': isActive('/invitro')}"
    >
      invitro
    </h3>
    <h3 
      class="item"
      [ngClass]="{'active': isActive('/contactanos')}"
    >
      contáctanos
    </h3>
    <h3 
      class="item"
      [ngClass]="{'active': isActive('/nosotros')}"
    >
      nosotros
    </h3>
  </nav>
</div>
<p-menu #menu [popup]="true" (onShow)="openMenu()" (onHide)="isMenuOpen = false">
  <ng-template pTemplate="start" style="padding: 0;">
    <div class="flex-column">
      @if (isLoading) {
        <spinner />
      }@else {
        @for (category of _dataService.categories(); track $index) {
          <menu-item
            (onClick)="router.navigate(['/tienda'])"
          >
            {{category.name}}
          </menu-item>
        }
      }
    </div>
  </ng-template>
</p-menu>
